<%- include("header") %>
  <div class="content">
    <h1 id="contacts">Contacts</h1>

    <table id="contact-table">
      <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Email Address</th>
          </tr>
      </thead>

      <tbody>
          <tr>
            <td>Reshma Saujani</td>
            <td>322 Green Lane</td>
            <td>0131-8549154</td>
            <td>reshmasaujani@gmail.com</td>
          </tr>
          <tr>
            <td>Susan Wojcicki</td>
            <td>73 New Street</td>
            <td>0131-8142975</td>
            <td>susanwojicki@gmail.com</td>
        </tr>
        <tr>
          <td>Ellen K. Pao</td>
          <td>83 Stanley Road</td>
          <td>0131-0348987</td>
          <td>ellenkpao@gmail.com</td>
        </tr>
        <tr>
          <td>Dannah Boyd</td>
          <td>8 Victoria Road</td>
          <td>0131-8927070</td>
          <td>dannahboyd@gmail.com</td>
        </tr>
        <tr>
          <td>Kimberly Bryant</td>
          <td>68 Mill Road</td>
          <td>0131-8988326</td>
          <td>kimberlybryant@gmail.com</td>
        </tr>
        <tr>
          <td>Kate Crawford</td>
          <td>39 Manchester Road</td>
          <td>0131-9697624</td>
          <td>katecrawford@gmail.com</td>
        </tr>
      </tbody>
  </table>

  </div>
<%- include("footer") %>