<%- include("header") %>
  <div class="content">
    <h1 id="login_res">Log in/Register</h1>

    <p>Unknown Client</p>
    <p>Please register</p>

    <!-- Form for the user to register -->
    <form action="/api/register" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="e.g. Dane"><br>
      <label for="password">Password:</label>
      <input type="text" id="password" name="password" placeholder="e.g. Pane"><br>
      <label for="society">Society:</label>
      <input type="text" id="society" name="society" placeholder="e.g. Kao Tech"><br>
      <label for="contact">Contact:</label>
      <input type="text" id="contact" name="contact" placeholder="e.g. John Doe"><br>
      <label for="addres">Address:</label>
      <input type="text" id="addres" name="addres" placeholder="e.g. 1 The Street"><br>
      <label for="zipcode">Zipcode:</label>
      <input type="text" id="zipcode" name="zipcode" placeholder="e.g. 27000"><br>
      <label for="city">City:</label>
      <input type="text" id="city" name="city" placeholder="e.g. Paris"><br>
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone" placeholder="e.g. 03 67 66 67 65"><br>
      <label for="fax">Fax:</label>
      <input type="text" id="fax" name="fax" placeholder="e.g. J03 67 55 68 76"><br>
      <label for="max_outstanding">Max Outstanding:</label>
      <input type="text" id="max_outstanding" name="max_outstanding" placeholder="e.g. 150000"><br><br>
      <input type="submit" value="Register">
    </form>
  </div>
<%- include("footer") %>